body {
    background-image: url(images/hw-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, Poppins, sans-serif;
    margin: 0;
}

header {
    display: flexbox;
    background-color: white;
    width: 100%;
    margin: 0;
}

nav {
    line-height: 8em;
    margin: 0;
    position: absolute;
    left: 20%;
}

div > .bottom {
    position: relative;
    display: flexbox;
    top: 29px;
    box-sizing: border-box;
    padding: .8vh ;
    background-color: #d4d0cc;
}

div > .top {
    position: relative;
    display: flexbox;
    top: 10px;

}

nav > a {
    text-decoration: none;
    margin: .8vh;
    color: rgb(97, 51, 34);
}

div > a {
    position: relative;
    left: 75%;
    text-decoration: none;
    color: rgb(97, 51, 34);
}

img {
    position: absolute;
    display: flex;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    top: 5px;
    left: 15%;
    box-sizing: border-box;
}

span {
    display: flex;
    top: 20px;
    width: 100%;
    background-color:  rgb(97, 51, 34);
    color: #fff;
    margin: 0;
}

span > h2 {
    position: relative;
    left: 42%;
    padding: 5px;
    font-size: 1rem;
}

article {
    position: absolute;
    left: 50%;
    top: 43.5%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 1vh;
    color: #fff;
    padding: 0;
    margin: 0;
    line-height: 3;
}
article > h1{
    line-height: 0;
    font-size: 4em;
    letter-spacing: .02em;
}

article > h2 {
    position: absolute;
    display: flexbox;
    top: 40%;
    left: 15px;
    font-size: 2em;
    font-weight: 200;
    word-spacing: 3px;
}