* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

a:link {
    color: #B7E6FA;
    text-decoration: none;
}

a:visited {
    color: #41BBE0;
}

#chemicals {
    float: right;
    width: 50%;
    border: 2px solid black;
}

#tools {
    float: left;
    width: 50%;
    border: 2px solid black;
}

img {
    width: 30%;
}

.welcome {
    width: 100%;
    padding: 2vh 0 2vh 0;
    text-align: center;
    background-color: #41BBE0;
}

h1 {
    font-style: italic;
}

h2 {
    -webkit-text-stroke: 1px black;
}

nav > div{
    background-color: #B7E6FA;
    padding: 0.5em;
    text-align: center;
}

nav > div > a {
    text-decoration: none;
}

.item1 {
    grid-area: header;
    font-size: 2vh;
    word-spacing: 10px;
}
.item2 {
    grid-area: home;
}
.item3 {
    grid-area: services;
}
.item4 {
    grid-area: shop;
}
.item5 {
    grid-area: contact;
}

.item6 {
    grid-area: testimonial;
}

.grid-container {
    display: grid;
    grid-template-areas:
    'header header header header header'
    'home services shop contact testimonial';
    grid-gap: .25em;
    padding: .5em;
    background-color: #41BBE0;
    text-align: center;
}