header {
    margin: 0;
}

img {  
    max-width: 20%;
    height: auto;  
    }  

body {
    background-color: #00FAB5;
}

.sleeping {
    background-color: #B562E3;
}

.potato {
    background-color: #E3BD0B;
}

.smiles {
    background-color: #FD0D6B;
}

nav {
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    font-size: 2em;
}
.sleeping {
    color: black;
}

h1, p {
    color: black;
    font-size: 3vh;
    box-sizing: border-box;
    padding: 1em;
    width: 700px;
    justify-content: center;
}
.dropbtn {
    min-width: 300px;
    font-size: 1em;
}

.dropdown {
    font-size: 3vh;
    position: relative;
    display: block;
}

.dropdown-content {
    justify-content: space-evenly;
    display: none;
    position: relative;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 20px 15px 15px 20px rgba(0,0,0,0.2);
    padding: 30px 30px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: inline-block;
    display: flex;
}
